name: examen-workflow

on:
  push:
    branches:
      - nueva-caracteristica

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    
    - name: Install pytest
      run: pip install pytest
    
    - name: Run tests
      run: pytest test.py
    
    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        load: true
        tags: wallet-app:latest
